<% content_for :breadcrumb do %>
  <li><%= link_to "Forums", forums_path %> 
  <li><%= link_to "Forum Topics", forum_forum_topics_path(@forum) %> 
  <li class="active"> <%= @forum_topic.title %> </li>
<% end %>
<h2>Editing <%= @forum.name %> for Topic <%= @forum_topic.title %></h2>
<%= render 'form' %>

<%= link_to 'Show', forum_forum_topic_path(@forum,@forum_topic) %> |
<%= link_to 'Back', forum_forum_topics_path(@forum) %>
