<% content_for :breadcrumb do %>
  <li><%= link_to "Forums", forums_path %>
  <li class="active">Edit forum </li>
<% end %>
<h2>Editing Forum: <%= @forum.name %></h2>
<%= render 'form' %>

<%= link_to 'Show', @forum %> |
<%= link_to 'Back', forums_path %>
