<% content_for :breadcrumb do %>
 <li class="active">Forums </li>
<% end %>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Forums</strong>
  </div>  
    <table class="table table-hover" >
      <thead>
      <tr>
        <th>Forum</th>
        <th>Topics</th>
        <th>Views</th>
       <% if current_user %>
        <th></th>
        <th></th>
       <% end %> 
      </tr>
    </thead>

    <tbody>
      <% @forums.each do |forum| %>
        <tr>
          <td><%= link_to forum.name, forum_forum_topics_path(forum) %>
          <table>
            <td><%="#{"Last Post:"} #{time_ago_in_words(forum.last_post_created_at.to_s) unless forum.last_post_created_at.blank?} #{"ago by"} #{(forum.last_post_created_by.to_s) unless forum.last_post_created_by.blank?}" if forum.last_post_created_at %> </td>
          </table>
          
          </td>
          <td><%= forum.forum_topics.count %></td>
          <td><%= forum.hits %></td>
          
        <% if current_user %>  
          <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
          <td><%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @forums %>

<%= page_entries_info @forums %>

