<% content_for :breadcrumb do %>
  <li><%= link_to "Forums", forums_path %>
  <li class="active"><%= @forum.name %> </li>
<% end %>
  <strong>Name:</strong>
  <%= @forum.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @forum.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @forum.category %>
</p>

<p>
  <strong>Topics count:</strong>
  <%= @forum.topics_count %>
</p>

<p>
  <strong>Posts count:</strong>
  <%= @forum.posts_count %>
</p>

<p>
  <strong>Position:</strong>
  <%= @forum.position %>
</p>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
