<% content_for :breadcrumb do %>
  <li><%= link_to "Customer Accounts", customer_accounts_path %>
<li><%= link_to "Customer Sites", customer_account_customer_sites_path(@customer_account) %> 
 <li class="active">Edit Customer Site </li>
<% end %>
<h1>Editing <%= @customer_account.name %> Site <%= @customer_site.name %></h1>

<%= render 'form' %>

<%= link_to 'Show', customer_account_customer_sites_path(@customer_account, @customer_site) %> |
<%= link_to 'Back', customer_account_customer_sites_path(@customer_site) %>
