<% content_for :breadcrumb do %>
  <li><%= link_to "Customer Accounts", customer_accounts_path %>
  <li class="active">Customer Sites</li>
<% end %>

<div class="well well-sm">
  <%= link_to 'New Customer Site', new_customer_account_customer_site_path(@customer_account) %> |
  <%= link_to 'Customer Accounts', customer_accounts_path %>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Customer Sites for <%= @customer_account.name %></strong>
  </div>  
  <table class="table table-hover" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address line1</th>
        <th>Address line2</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Zipcode</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @customer_sites.each do |customer_site| %>
        <tr>
          <td><%= customer_site.name %></td>
          <td><%= customer_site.description %></td>
          <td><%= customer_site.address_line1 %></td>
          <td><%= customer_site.address_line2 %></td>
          <td><%= customer_site.city %></td>
          <td><%= customer_site.state %></td>
          <td><%= customer_site.country %></td>
          <td><%= customer_site.zipcode %></td>
          <td><%= link_to 'New Customer Contact', new_customer_account_customer_site_customer_contact_path(@customer_account, customer_site) %>| <%= link_to 'Show Customer Contact', customer_account_customer_site_customer_contacts_path(@customer_account,customer_site) %></td>
          <td><%= link_to 'Show', customer_account_customer_site_path(@customer_account,customer_site) %></td>
          <td><%= link_to 'Edit', edit_customer_account_customer_site_path(@customer_account, customer_site) %></td>
          <td><%= link_to 'Destroy', customer_account_customer_site_path(@customer_account, customer_site), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @customer_sites %>

<%= page_entries_info @customer_sites %>
