<% content_for :breadcrumb do %>
  <li><%= link_to "Customer Accounts", customer_accounts_path %> 
   <li><%= link_to "Customer Sites", customer_account_customer_sites_path(@customer_account) %>
  <li class="active"><%= @customer_site.name %></li>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @customer_site.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer_site.description %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @customer_site.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @customer_site.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer_site.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer_site.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer_site.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @customer_site.zipcode %>
</p>

<%= link_to 'Edit', edit_customer_account_customer_site_path(@customer_account, @customer_site) %> |
<%= link_to 'Back', customer_account_customer_sites_path %>
