<p><%= f.label :name %><br />
<%= f.text_field :name %></p>

<p><%= f.label :email %><br />
<%= f.text_field :email %></p>

<% if is_admin? %>
<p><%= f.label :role %>: <%= f.collection_select :role,ROLES-["admin"] , :to_s, :humanize, {:include_blank => false , :multiple => true} %></p>
<% end %>

<p><%= f.submit "Submit" %></p>

