<h2>My ServiceCases</h2>
<% if @service_cases.size > 0 -%>
  

<% for service_case in @service_cases %>
  
  <div class="sapp_feature">
    <h4><%= link_to service_case.name , service_case_path(service_case) %></h4>
    <h4><%= service_case.account.name %></h4>
    <h4><%= service_case.priority %></h4>
    <h4><%= service_case.status %></h4>
    <p><%= service_case.description %></p>      
  </div>  
  
<% end %>
<% end -%>
