<% content_for :breadcrumb do %>
  <li><%= link_to "Customer Accounts", customer_accounts_path %>
  <li class="active"><%= @customer_account.name %></li>
<% end %>
<h2>Editing customer_account</h2>

<%= render 'form' %>

<%= link_to 'Show', @customer_account %> |
<%= link_to 'Back', customer_accounts_path %>
