<% content_for :breadcrumb do %>
 <li class="active">Customer Accounts</li>
<% end %>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Customer Accounts</strong>
  </div>  
    <table class="table table-hover" >
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ac type</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @customer_accounts.each do |customer_account| %>
        <tr>
          <td><%= customer_account.name %></td>
          <td><%= customer_account.description %></td>
          <td><%= customer_account.ac_type %></td>
          <td><%= link_to 'New Customer Site', new_customer_account_customer_site_path(customer_account) %> | <%= link_to 'Show Customer Sites', customer_account_customer_sites_path(customer_account) %></td>
          <td><%= link_to 'Show', customer_account %></td>
          <td><%= link_to 'Edit', edit_customer_account_path(customer_account) %></td>
          <td><%= link_to 'Destroy', customer_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>


 
<%= paginate @customer_accounts %>

<%= page_entries_info @customer_accounts %>
