<%= form_for([@km_page_category,@km_page]) do |f| %>
  <% if @km_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@km_page.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @km_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br> 
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>  
    
  <div class="actions">    
    <%= f.button :submit %>
  </div>  
  
<% end %>

