<% content_for :breadcrumb do %>
  <li><%= link_to "km page categories", km_page_categories_path %> 
  <li><%= link_to "km pages", km_page_category_km_pages_path(@km_page_category) %> 
  <li class="active"> <%= @km_page.title %> </li>
<% end %>
<h1>Editing <%= @km_page.title %></h1>

<%= render 'form' %>

<%= link_to 'Back', :back %>
