<% content_for :breadcrumb do %>
  <li><%= link_to "categories", km_page_categories_path %>
  <li><%= link_to "KM Pages", km_page_category_km_pages_path(@km_page_category)%> 
  <li class="active"><%= @km_page.title %></li>
<% end %>
<p id="notice"><%= notice %></p>
<table class="table table-bordered table-hover" >
  <tr>
    <th>Page Title</th>
    <th>Page Content</th>
  </tr>
  <tr>
    <td><%= @km_page.title %></td>
    <td><%= @km_page.content %></td>
  </tr>
</table>

<%= link_to 'Edit Content Marketing Page', edit_km_page_category_km_page_path(@km_page_category, @km_page) %> |
<%= link_to 'Back', :back %>

