<%= form_for([@customer_account, @customer_site, @customer_contact]) do |f| %>
  <% if @customer_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_contact.errors.count, "error") %> prohibited this customer_contact from being saved:</h2>

      <ul>
      <% @customer_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone_number1 %><br>
    <%= f.text_field :phone_number1 %>
  </div>
  <div class="field">
    <%= f.label :phone_number2 %><br>
    <%= f.text_field :phone_number2 %>
  </div>
  <div class="field">
    <%= f.label :phone_number3 %><br>
    <%= f.text_field :phone_number3 %>
  </div>
  <div class="field">
    <%= f.label :fax_number %><br>
    <%= f.text_field :fax_number %>
  </div>
  <div class="field">
    <%= f.label :email_addr %><br>
    <%= f.text_field :email_addr %>
  </div>
  <div class="field">
    <%= f.label :sell_to %><br>
    <%= f.check_box :sell_to %>
  </div>
  <div class="field">
    <%= f.label :ship_to %><br>
    <%= f.check_box :ship_to %>
  </div>
  <div class="field">
    <%= f.label :bill_to %><br>
    <%= f.check_box :bill_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
