<% content_for :breadcrumb do %>
  <li><%= link_to "Customer Accounts", customer_accounts_path %> <span class="divider">/</span></li>
  <li><%= link_to "Customer Site", customer_account_customer_sites_path(@customer_account) %> <span class="divider">/</span></li>
  <li class="active">Edit Customer Conatct </li>
<% end %>
<h1>Editing <%= @customer_site.name %> Contact <%= @customer_contact.full_name %></h1>

<%= render 'form' %>

<%= link_to 'Back', :back %>

<%= link_to 'Delete Contact', customer_account_customer_site_customer_contact_path(@customer_account,@customer_site,@customer_contact) , :method => :delete , :confirm => "Are you sure?" %>
