
<%= form_for(@service_case, :url => { :controller => controller_name, :action => 'create'}, :html => { :id => "new_service_case"}) do |f| %>
  <% if @service_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_case.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @service_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Customer_Account_Name %><br>
    <%= f.collection_select :customer_account_id, CustomerAccount.all, :id, :name %>
  </div>  
  
  <div class="field">
    <%= f.label :name %><br> 
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>  
  
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>  
  
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.select :priority, SERVICECASE_PRIORITIES, :include_blank => false %>
  </div> 
   
  <div class="field">
    <%= f.label :impact %><br>
    <%= f.text_field :impact %>
  </div> 
     
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, SERVICECASE_STATUSES, :include_blank => false %>
  </div>  

  <div class="field">
    <%= f.label :solution %><br>
    <%= f.text_field :solution %>
  </div> 
    
  <div class="actions">    
    <%= f.button :submit %>
  </div>  
  
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    //alert("hi  a" );

    $('#new_service_case').validate({
      rules: {
        'service_case[name]': {
          minlength: 3,
          maxlength: 15,
          required: true
        },
        'service_case[description]': {
          required: true
        },
      },
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },
    errorElement: 'span',
    errorClass: 'help-block',
    errorPlacement: function(error, element) {
        if(element.parent('.input-group').length) {
            error.insertAfter(element.parent());
        } else {
            error.insertAfter(element);
        }
    }
    });
  });
</script>
