<% content_for :breadcrumb do %>
 <li class="active">Service case</li>
<% end %>
<h2>ServiceCases</h2>
<% if !@service_cases.empty? -%>
<table class="table table-bordered table-hover" >
  <tr>
    <th>Service Case Name</th>
    <th>Customer Account Name</th>
    <th>Priority</th>
    <th>Status</th>
    <th>description</th>
    <th>Assigned To</th>
    
  </tr>
  
  <% for service_case in @service_cases %>
    <tr>
  
        <td><%= link_to service_case.name , service_case_path(service_case) %></td>
        <td><%= service_case.customer_account.name %></td>
        <td><%= service_case.priority %></td>
        <td><%= service_case.status %></td>
        <td><%= service_case.description %></td>
      
        
        <% if service_case.assigned? %>
        <td>  
            <%= service_case.assigned_user_name(service_case.assigned_to) %>
          
          <%= link_to "Re-Assign" , assign_case_path(service_case)%>
        </td>  
        <% else %>
        
        <td>
          <%= link_to "Assign" , assign_case_path(service_case)%>
         </td> 
        <% end-%>
        
        
     </tr>   
    
    
  <% end %>
 </table>
<% end -%>


<%= paginate @service_cases %>

<%= page_entries_info @service_cases %>




