<% content_for :breadcrumb do %>
  <li><%= link_to "Service Cases", service_cases_path  %> 
  
  <li class="active"><%= @service_case.name %></li>
<% end %>
<h1><%= @service_case.name %></h1>
<table class="table table-bordered table-hover" >
  <tr>
    <th>Name</th>
    <th>Customer Account Name</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Description</th>
    
  </tr>
  <tr>
    <td><%= @service_case.name %></td>
    <% if @service_case.customer_account %>
    <td><%= @service_case.customer_account.name %></td>
    <% else %>
      <td>
      </td>
    <% end %> 
    <td><%= @service_case.priority %></td>
    <td><%= @service_case.status %></td>
    <td><%= @service_case.description %></td>
 </tr>
</table> 
  
    
    <% if @service_case.service_case_logs.size > 0 -%>
      <h3>Case History</h3>
      <table class="table table-bordered table-hover" >
        <tr>
          <th>Log Text</th>
          <th>Created at</th>
        </tr>
          <% @service_case.service_case_logs.each do |t| -%>
            <tr>
              <td><%= t.log_text %></td>
              <td><%= t.created_at %></td>
            </tr>
        <% end -%>
      </table>
    <% end -%>
   
    <% if @service_case.service_case_interactions.size > 0 -%>
      <h3>Customer Interaction</h3>
      <table class="table table-bordered table-hover" >
        <tr>
          <th>Interaction Text</th>
          <th>Created at</th>
        </tr>
        <% @service_case.service_case_interactions.each do |t| -%>
          <tr>
            <td><%= t.interaction_text %></td>
            <td><%= t.created_at %></td>
          </tr>
        <% end -%>
      </table>
    <% end -%>
   
    <p>
      <h4>Add new Customer Interaction:</h4>
      <%= form_tag('/add_interaction') do |f| %>
        <div class="field">
          <%= hidden_field_tag :service_case_id, @service_case.id  %>
        </div>        
        <div class="field">
          <%= label_tag :interaction_text  %><br />
          <%= text_area_tag :interaction_text %>
        </div>
        <div class="actions">
          <%= submit_tag "Customer Interaction" %>
        </div>
      <% end -%>
    </p>

   
    
    <p>
      <h4>Case Log Entry:</h4>
      <%= form_tag('/add_log') do |f| %>
        <div class="field">
          <%= hidden_field_tag :service_case_id, @service_case.id  %>
        </div>        
        <div class="field">
          <%= label_tag :Text  %><br />
          <%= text_area_tag :text %>
        </div>
        <div class="actions">
          <%= submit_tag "Add Log Entry" %>
        </div>
      <% end -%>
    </p>
    
  </p>

<%= link_to "Assign" , assign_case_path(@service_case)%>
<%= link_to 'Edit', edit_service_case_path(@service_case) %> |
<%= link_to 'Back', :back %>
