<% content_for :breadcrumb do %>
  <li><%= link_to "Content Marketing Page Category", cm_page_categories_path %> <span class="divider">/</span></li>
  <li class="active"> <%= @cm_page_category.name %></li>
<% end %>
<p id="notice"><%= notice %></p>
<table class="table table-bordered table-hover" >
  <tr>
    <th>Content Marketing Category Name</th>
    <th>Pages</th>
  </tr>
  <tr>
    <td><%= @cm_page_category.name %></td>
    <td>
    <% if @cm_page_category.cm_pages.size > 0 -%>
     
      <% @cm_page_category.cm_pages.each do |t| -%>
        <%= link_to t.title , cm_page_path(t) %>
      <% end -%>
    <% end -%>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_cm_page_category_path(@cm_page_category) %> |
<%= link_to 'Back', :back %>
