<p id="notice"><%= notice %></p>

<p>
  <%= @site.name %>
</p>
<p>
  <%= @site.full_address %>
</p>
<p>
  <% if @site.contacts.size > 0 -%>
    Contacts:
    <% @site.contacts.each do |c| -%>
      <p>
        <%= link_to c.full_name , edit_account_site_contact_path(@site.account,@site,c) %>
      </p>
      <p>
        <%= c.full_details %>
      </p>
    <% end -%>
  <% end -%>
</p>

<%= link_to "Add a Contact" , new_account_site_contact_path(@site.account,@site) %>
<%= link_to 'Edit', edit_account_site_path(@site.account,@site) %> |
<%= link_to 'Back', :back %>
