<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8" />
  <title>TopazSocial</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application.css", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min.css" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.validate.min.js" %>


  
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!DOCTYPE html>

  <body>
    <!-- header -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>  
          <a class="navbar-brand" href="/">Topaz Social</a>
        </div>  
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Communities
                <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  <% if is_admin? || is_community_manager? %> 
                  <li>
                    <%= link_to t("forums" , :default => "Create Forum"), new_forum_path , :class => ( ( controller_name == "forums" ) ? "active" : "" )%>
                  </li>
                  <% end %>
                  <li>
                    <%= link_to t("forums" , :default => "All Forums"), forums_path , :class => ( ( controller_name == "forums" )  ? "active" : "" ) %>
                  </li>
                </ul>
            </li>
            <% if is_admin? %>  
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Knowledge
                 <b class="caret"></b>
                </a>
                  <ul class="dropdown-menu">
                      <li>
                        <%= link_to t("km_page_categories" , :default => "Create Category"), new_km_page_category_path , :class => ( ( controller_name == "km_page_categories" ) ? "active" : "" )%>
                      </li>
                      <li>
                        <%= link_to t("km_page_categories" , :default => "Categories"), km_page_categories_path , :class => ( ( controller_name == "km_page_categories" ) ? "active" : "" ) %>
                      </li>
                  </ul>
              </li>
            <% end %> 
              <li class="dropdown">
                <% if is_admin? || is_sales_manager? || is_sales_engineer?  -%>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Leads
                    <b class="caret"></b>
                  </a>
                <% end %>
                  <ul class="dropdown-menu">
                    <% if is_admin? || is_sales_manager? %>
                    <li>
                      <%= link_to t("sales_leads" , :default => "Create Lead"), new_sales_lead_path , :class => ( ( controller_name == "sales_leads" ) ? "active" : "" )%>
                    </li>
                    <% end %>
                    <% if is_admin? || is_sales_manager? || is_sales_engineer? %>
                    <li>
                      <%= link_to t("sales_leads" , :default => "All Leads"), sales_leads_path , :class => ( ( controller_name == "sales_leads" ) ? "active" : "" )%>
                    </li>
                    <% end %>
                    <% if is_admin? || is_sales_manager? %>
                    <li>
                      <%= link_to t("sales_leads" , :default => "Assigned Leads"), assigned_leads_path , :class => ( ( controller_name == "sales_leads" ) ? "active" : "" )%>
                    </li>
                    <li>
                      <%= link_to t("sales_leads" , :default => "Unassigned Leads"), unassigned_leads_path , :class => ( ( controller_name == "sales_leads" ) ? "active" : "" )%>
                    </li>
                    <% end %>
                    <% if is_admin? || is_sales_manager? || is_sales_engineer? %>
                    <li>
                      <%= link_to t("my_leads" , :default => "My Leads"), my_leads_path , :class => ( ( controller_name == "users" and ( action_name == "my_leads" ) ) ? "active" : "" )%>
                    </li> 
                    <% end %>                   
                  </ul>
              </li>

              <li class="dropdown">
                <% if is_admin? || is_sales_manager? || is_sales_engineer? -%>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Opportunities
                  <b class="caret"></b>
                </a>
                <% end %>
                  <ul class="dropdown-menu">
                    <% if is_admin? || is_sales_manager? %>
                    <li>
                      <%= link_to t("sales_opportunities" , :default => "Create Opportunity"), new_sales_opportunity_path , :class => ( ( controller_name == "sales_opportunities" ) ? "active" : "" )%>
                    </li>
                    <% end %>
                    <% if is_admin? || is_sales_manager? || is_sales_engineer? -%>
                    <li>
                      <%= link_to t("sales_opportunities" , :default => "All Opportunities"), sales_opportunities_path , :class => ( ( controller_name == "sales_opportunities" ) ? "active" : "" )%>
                    </li>
                    <% end %>
                    <% if is_admin? || is_sales_manager? %>
                    <li>
                      <%= link_to t("sales_opportunities" , :default => "Assigned Opportunities"), assigned_opportunities_path , :class => ( ( controller_name == "sales_opportunities" ) ? "active" : "" )%>
                    </li>
                    <li>
                      <%= link_to t("sales_opportunities" , :default => "Unassigned Opportunities"), unassigned_opportunities_path , :class => ( ( controller_name == "sales_opportunities" ) ? "active" : "" )%>
                    </li>
                    <% end %>
                    <% if is_admin? || is_sales_manager? || is_sales_engineer? -%>
                    <li>
                      <%= link_to t("my_opportunities" , :default => "My Opportunities"), my_opportunities_path , :class => ( ( controller_name == "users" and ( action_name == "my_opportunities" ) ) ? "active" : "" )%>
                    </li> 
                    <% end %>                   
                  </ul>
              </li>
              <li class="dropdown">
                <% if is_admin? || is_employee? || is_contact? %>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Support
                  <b class="caret"></b>
                </a>
                <% end %>
                  <ul class="dropdown-menu">
                    <% if is_admin? || is_employee? || is_contact? %>
                    <li>
                      <%= link_to t("service_cases" , :default => "Create Service Case"), new_service_case_path , :class => ( ( controller_name == "service_cases" ) ? "active" : "" )%>
                    </li>
                    <li>
                      <%= link_to t("service_cases" , :default => "All Service Cases"), service_cases_path , :class => ( ( controller_name == "service_cases" ) ? "active" : "" )%>
                    </li>
                    <% end %>
                    <% if is_admin? || is_service_manager? %>
                    <li>
                      <%= link_to t("service_cases" , :default => "Assigned Service Cases"), assigned_cases_path , :class => ( ( controller_name == "service_cases" ) ? "active" : "" )%>
                    </li>
                    <li>
                      <%= link_to t("service_cases" , :default => "Unassigned Service Cases"), unassigned_cases_path , :class => ( ( controller_name == "service_cases" ) ? "active" : "" )%>
                    </li>
                    <% end %>
                    <% if is_admin? || is_employee? || is_contact? %>
                    <li>
                      <%= link_to t("my_cases" , :default => "My Cases"), my_cases_path , :class => ( ( controller_name == "users" and ( action_name == "my_cases" ) ) ? "active" : "" )%>
                    </li>  
                    <% end %>                  
                  </ul>
              </li>
            <% if current_user and is_twitter_enabled? -%>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/social"> Social
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>  
                    <%= link_to t("social" , :default => "Social"), social_path , :class => ( ( controller_name == "social_media" and ( action_name == "social" ) ) ? "active" : "" ) %>
                  
                  </li>
                </ul>
              </li>
            <% end -%>

            <% if is_admin? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Accounts
                  <b class="caret"></b>
                </a>
                  <ul class="dropdown-menu">
                  <li>
                    <%= link_to t("accounts" , :default => "Create Account"), new_customer_account_path , :class => ( ( controller_name == "accounts" ) ? "active" : "" )%>
                  </li>
                    <li>
                      <%= link_to t("accounts" , :default => "All Accounts"), customer_accounts_path , :class => ( ( controller_name == "accounts" )  ? "active" : "" )%>
                    </li>
                  </ul>
              </li>
            <% end %>  

            <% if is_admin? -%> 
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Users
                  <b class="caret"></b>
                </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to t("employees" , :default => " All Employees"), employees_path , :class => ( ( controller_name == "users" and ( action_name == "employees" ) ) ? "active" : "" ) %>
                    </li>
                    <li>
                      <%= link_to t("customers" , :default => "All Customers"), customers_path, :class => ( ( controller_name == "users" and ( action_name == "customers" ) ) ? "active" : "" ) %>    
                    </li>
                    <li>
                      <%= link_to t("general_users" , :default => "All Prospects"), non_employees_path, :class => ( ( controller_name == "users" and ( action_name == "non_employees" ) ) ? "active" : "" ) %>    
                    </li>
                  </ul>
              </li> 
            <% end -%> 
            
          </ul>
          <ul class="navbar-header navbar-right">
            <% if current_user %>
              <%= link_to t("users" , :default => "Profile"), find_users_path , :class => ( ( controller_name == "users" )  ? "active" : "" ) %>:&nbsp;
              <%= link_to (current_user.name || "User") , edit_user_registration_path(current_user) %>! | <%= link_to t("sign_out" ,:default => "Sign Out"),  "/logout" , { :title => "Log out" }  %>
            <% else %>
              <%= t("sign_in" , :default => "Sign in using") %>:&nbsp;
                <% if is_twitter_enabled? -%>
                  <a href="<%= user_omniauth_authorize_path(:twitter) %>">
                    <%= image_tag "tw.png" %> 
                  </a>
                <% end -%>                  
                <%= link_to t("employee_login", :default => "Employee Login") , login_path %>
            <% end %>
          </ul>
        </div><!-- /navbar-collapse collapse-->
      </div><!-- /container -->
    </nav>


    <!-- container -->

    <div class="container">
      <!-- search -->
      <div class="row">
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <%= yield :breadcrumb %>
          </ul>
        </div>     
        <div class="col-md-4" id="search">
          <form id="s_sapps" class="navbar-search pull-right"  method="get" action="/welcome/quick_find">
            <fieldset>
              <input type="text" id="r" name="r" value="" size="20" onfocus="document.forms['s_sapps'].r.value='';" onblur="if (document.forms['s_sapps'].r.value == '') document.forms['s_sapps'].r.value='Quick Search';" class="required" />
              <input type="hidden" id="res" name="res" value="<%= controller_name %>">
              <input type="submit" id="search-submit" value="Search" />
            </fieldset>
          </form>
        </div> 
          <%= yield :sidebar %>
      </div>

      <div id="wrapper" class="wat-cf">
        <div class="flash">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
          <% end %>
        </div>
      </div>             

      <div id="main">
        <%= yield %>
      </div>
      <hr>
      <footer class="text-center">
            <a href="#">Contact US</a>
            <a href="#">|</a>
            <a href="#">Terms of services</a>
            <a href="#">|</a>
            <a href="#">Privacy Policy</a>
      </footer>
    </div>     <!-- container -->

    <!-- Included JS Files -->
      <script type="text/javascript">
        $(document).ready(function(){});
      </script>

  </body>
</html>

