<h1>New Account</h1>


<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :type  %><br />
    <%= f.select :ac_type , options_for_select(ACCOUNT_TYPES) , :include_blank => false  %>
  </div>
  
  <div class="field">
    <%= f.label :name  %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :description  %><br />
    <%= f.text_area :description %>
  </div>
  
  <p>Site Details:</p>
  <%= f.fields_for @site do |s| -%>
    
    <div class="field">
      <%= s.label :name  %><br />
      <%= s.text_field :name %>
    </div>
    
    <div class="field">
      <%= s.label :description  %><br />
      <%= s.text_area :description %>
    </div>
    
    <div class="field">
      <%= s.label :address_line1  %><br />
      <%= s.text_field :address_line1 %>
    </div>
    
    <div class="field">
      <%= s.label :address_line2  %><br />
      <%= s.text_field :address_line2 %>
    </div>
    
    <div class="field">
      <%= s.label :city  %><br />
      <%= s.text_field :city %>
    </div>
    
    <div class="field">
      <%= s.label :state  %><br />
      <%= s.text_field :state %>
    </div>
    
    <div class="field">
      <%= s.label :zipcode  %><br />
      <%= s.text_field :zipcode %>
    </div>
    
    <div class="field">
      <%= s.label :country  %><br />
      <%= s.text_field :country %>
    </div>    
    
  <% end -%>
  
  <p>Contact Details:</p>
  <%= f.fields_for @contact do |c| -%>
  
    <div class="field">
      <%= c.label :first_name  %><br />
      <%= c.text_field :first_name %>
    </div>
    
    <div class="field">
      <%= c.label :last_name  %><br />
      <%= c.text_field :last_name %>
    </div>
    
    <div class="field">
      <%= c.label :phone_number  %><br />
      <%= c.text_field :phone_number1 %>
    </div>
    
    <div class="field">
      <%= c.label :fax_number  %><br />
      <%= c.text_field :fax_number %>
    </div>
    
    <div class="field">
      <%= c.label :email_address  %><br />
      <%= c.text_field :email_addr %>
    </div>
    
    <div class="field">
      <%= c.label :sell_to  %><br />
      <%= c.check_box :sell_to %>
    </div>
    
    <div class="field">
      <%= c.label :ship_to  %><br />
      <%= c.check_box :ship_to %>
    </div>
    
    <div class="field">
      <%= c.label :bill_to  %><br />
      <%= c.check_box :bill_to %>
    </div>
    
  <% end -%>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

<script type="text/javascript" >
 
</script>

